<h1>Post#new</h1>
<form action="/post/create">
    <p>
        <label for="title">제목</label>
        <input type="text" name="title">
    </p>
    
    <p>
        <label for="author">작성자</label>
        <input type="text" name="author">
    </p>
    <hr>
    <textarea name="contents"></textarea>
    <button type="submit">글쓰기!</button>
</form>